[Unit]
Description=WPA supplicant daemon for wlan0
Requires=sys-subsystem-net-devices-wlan0.device wpa_supplicant-configure.service
After=sys-subsystem-net-devices-wlan0.device wpa_supplicant-configure.service
Before=network.target
Wants=network.target
ConditionPathExists=/etc/wpa_supplicant/wpa_supplicant.conf

[Service]
Type=simple
ExecStart=/sbin/wpa_supplicant -Dnl80211,wext -i wlan0 -c /etc/wpa_supplicant/wpa_supplicant.conf
